[submodule ".themes/bunching-bumbago"]
	path = .themes/bunching-bumbago
	url = git://github.com/octothemes/bunching-bumbago.git
[submodule ".themes/murky-mussels"]
	path = .themes/murky-mussels
	url = git://github.com/octothemes/murky-mussels.git
[submodule ".themes/bucktooth-bumbago"]
	path = .themes/bucktooth-bumbago
	url = git://github.com/octothemes/bucktooth-bumbago.git
[submodule "source/_includes/custom/asides/ota"]
	path = source/_includes/custom/asides/ota
	url = https://github.com/raisedadead/octopress-twitter-aside.git
